<div class="jumbotron">
  <div class="container">
    <h1>Track, compare, learn!</h1>
    <p><em>TRACK</em> your improvement over time. <em>COMPARE</em> yourself to your friends. <em>LEARN</em> when you are at your best. We record every race at Sykart in Tigard, and we keep the 6.5 horse power and 9 horse power kart results separate.</p>
    <p><a class="btn btn-primary btn-lg" href="/races" role="button">See races »</a></p>
  </div>
</div>